content {
    display: block;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px;
    background-color: lightgray;
}
body {
    font-size: 18px;
    line-height: 1.5;
}

header, nav, footer {
    margin: 1.25remauto;
   
}
header, footer {
background-color: navy;
text-align: center;
color: white;
}
.link {
    color: white;
}
header {
    padding: .5rem;
    font-size: 25px;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Jomhuria', cursive;
}
h2 {
    font-size: 15px;
    margin: 0;
    padding-left: 30px;
    border-bottom: 2px solid black;
    font-family: 'Freckle Face', cursive;
}
nav {
    padding-left: 50px;
}
header img {
    width: 200px;
    height: auto;
}
p {
    margin: 0;
}