:root {
    --primary-color: #e7ecef;
    --secondary-color: #6096ba;
    --accent1-color: #8b8c89;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
    background-color: white;
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .colors th {
    background-color: black;
    color: white;
  }
  .colors td{
    width: 25%;
    height: 3em;
    border: .1rem solid black;
    border-radius: .5rem;
  }
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
