.content {
    display: block;
    max-width: 750px;
    margin: 0 auto;
    padding: 30px;
    background-color: lightgrey;
}
body {
    font-size: 18px;
    line-height: 1.5;
}

header,
nav,
main,
footer {
	max-width: 767px;
	margin: 0 auto;
}
header, footer {
    background-color: #6096ba;
    text-align: center;
    color: white;
    box-shadow: 0 2px 15px gray;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100px;
}
.link {
    color: white;
}
header {
    padding: .5rem;
    font-size: 25px;
    margin-bottom: auto;
    text-align: center;
    font-family: 'Girassol', cursive;
}
img {
    float: right;
    max-width: 80px;
    max-height: 100px;
    margin-right: 20px;
}
nav {
	margin: 0 auto;
	max-width: 760px;
	background-color: lightgrey;
}
.navigation {
	list-style: none;
	padding: 0;
}
.navigation li:first-child {
	display: block;
}
.navigation li {
	display: none;
}
.navigation a {
	display: block;
	padding: 0.75rem;
	text-align: center;
	text-decoration: none;
	color:grey;
}
.navigation a:hover {
	color: white;
	background-color: grey;
}

/* the onclick JS toggles the .reponsive class from display none (.navigation li) to display block because the responsive class is added to the end of the class list like this in HTML.
  <ul class="navigation responsive">
*/
.responsive li {
	display: block;
}
main {
    background-color: #e7ecef;
}
h2 {
    font-size: 15px;
    margin: 0;
    border-bottom: 2px solid black;
    font-family: 'Girassol', cursive;
    text-align: center;
}
.heading {
    font-family: 'Girassol', cursive;
}
.paragraph {
    font-family: 'Cormorant Garamond', serif;
}
p {
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
}

div {
    padding: .5rem;
    background-color: #8b8c89;
    border: .1rem solid #e7ecef;
    border-radius: .5rem;
    box-shadow: 0 2px 15px gray;
}
h2 {
    font-family: 'Girassol', cursive;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
  }