@media only screen and (min-width: 64rem) {
main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0 auto;
}
figure img {
    padding: 0;
}
.one .two .three {
    grid-column: 1;
}
.four .five .six {
    grid-column: 2;
}
.seven .eight .nine {
    grid-column: 3;
}
div:hover {
    box-shadow: 0 0 50px #333;
}

.content {
    max-width: 2000px;
    margin: 0;
}
header,
footer {
    margin: 0 auto;
}
  
.navigation li {
    font-size: 1.2rem;
    padding: 6px;
}
.forecast {
    margin-top: 85px;
}
  
.box,
.article {
    height: 300px;
}
.farmer img {
    display: block;
    float: right;
    max-width: 400px;
}
.map {
    width: 300px;
    height: 275px;
}
.events {
    width: 40%;
}
}