main {
    display: block;
    max-width: 500px;
    text-align: center;
    margin: 0 auto;
}
picture img {
    padding-bottom: 50px;
    margin: 0;
}
img[data-src] {
    filter: blur(0.2em);
}
img {
    filter: blur(0em);
    transition: filter 2s;
}