body {
    font-family: Ubuntu, sans-serif;
    height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
table {
    border: .01em solid lightgrey;
    box-shadow: 10px 10px 10px 0px #777;
    margin: 0 auto;
    border-spacing: 0;
    text-align: center;
    width: 350px;
    height: 350px
}
th, tr, td {
    border: 1px solid lightgrey;
}
th {
    font-size: 30px;
    background-color: #7fb9c2;
}
.col_info {
    background-color: #628ca6;
    color: white;
}
.col_info td {
    font-style: bold;
}
tfoot {
    font-size: 13px;
    text-align: center;
    background-color: #7fb9c2;
}
.one {
    background-color: #e7f0ed;
}
.two {
    background-color: #e7ffed;
}
.November {
    background-color: #e7ffed;
}
.November td:nth-child(3) {
    background-color: #628ca6;
}
